@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.eb-garamond-normal {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-style: normal;
}

.eb-garamond-bold {
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  font-style: normal;
}

.eb-garamond-italic {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-style: italic;
}

.custom-bronze {
  color: #b6857c;
}
#root {
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.smooth-image {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.smooth-image.loaded {
  opacity: 1;
}


